body{
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#title {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-shadow: 7px 7px 7px rgba(54, 52, 52, 0.699);
}


#jeu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1600px){
    #jeu {
        width: 1300px;
    }
}

@media screen and (max-width: 1300px) {
    #jeu {
        width: 100%;
    }
}

.imgContainer  {
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 90%;
    height: 90%;
    position: absolute;
      
}

.imgBack {
    z-index: 100;
}

.imgFront {
    display: none;
}

.field1 {
    padding: 10px;
    margin: 5px;
}


.field2 {
    padding: 10px;
}


#result {
    font-size: larger;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline overline;
}


.fieldthemes {
    border-radius: 5%;
    border-style: dotted;
    border-color: rgb(49, 49, 49);
    color: grey;
    cursor: url(cursor_th.png), default;
}

legend {
    font-weight: bold;
    color: grey;
}

.themebut {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.theme {
    margin: 0 20px;
}