body{
    background-image: linear-gradient(rgb(152, 253, 214), rgb(238, 187, 130));
}


.field1 {
    background-image: url("Dino_mem/field_dino.jfif");
    cursor: url(Dino_mem/dino_cursor.png), auto;
}


.field2 {
    background-image: url("Dino_mem/dino_field2.jfif");
}


#result {
    color:rgb(7, 122, 88);
}

