body{
    background-image: linear-gradient(rgb(144, 243, 250), rgb(84, 87, 235));
}


.field1 {
    background-image: url("Penguin_mem/pbackground4.jfif");
    cursor: url(Penguin_mem/pengcursor.png), auto;
}


.field2 {
    background-image: url("Penguin_mem/back4.jpg");
}


#result {
    color:rgb(5, 1, 245);
}
