body{
    background-image: linear-gradient(rgb(152, 246, 253), rgb(248, 200, 242));
}



.field1 {
    background-image: url("img_mem/fieldsetback.jpg");
    cursor: url(img_mem/cursor1.png), auto;
   
}


.field2 {
    background-image: url("img_mem/backmem.jfif");
}


#result {
    color:rgb(223, 136, 208);
}


    